body { background: #7636a2; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 37px; display: flex; }
.block-cluster-0 { color: #cf6948; font-size: 14px; margin-bottom: 5px; }
.block-filter-1 { color: #f794eb; font-size: 20px; margin-bottom: 5px; }
.block-database-2 { color: #4bfc1b; font-size: 17px; margin-bottom: 5px; }
.block-validator-3 { color: #309d61; font-size: 16px; margin-bottom: 5px; }
.block-user-4 { color: #9e749d; font-size: 15px; margin-bottom: 5px; }
.block-uploader-5 { color: #793d23; font-size: 21px; margin-bottom: 5px; }
.block-user-6 { color: #6a7c6e; font-size: 18px; margin-bottom: 5px; }
.block-email-7 { color: #da521e; font-size: 12px; margin-bottom: 5px; }
.block-router-8 { color: #584625; font-size: 18px; margin-bottom: 5px; }
.block-order-9 { color: #4dcec9; font-size: 14px; margin-bottom: 5px; }